body {
  background-color: #adebb3;
  font-family: Quicksand;
}

.navbar {
  background-color: #51d434 !important;
}

.img-stretch {
  width: stretch;
}

p {
  font-size: 20px;
}

ul {
  font-size: 18px;
}

.list-group-item {
  background-color: #adebb3;
  border-color: darkgray;
}

.list-group-flush > .list-group-item:last-child {
  border-bottom: 1px solid darkgray;
}
